{% extends "home.html" %}

{% block title %}Search{% endblock %}

{% block content %}
 <h2>Write in search engine which cars you want update or delete </h2>
  <form method="get">
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% if query %}
    <h2>Results for "{{ query }}"</h2>
    <ul>
    {% for result in results %}
        <li>{{ result.id }} - {{ result.cars }}
        <a href="{% url 'update-car' result.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
    <a href="{% url 'delete-car' result.id %}" class="btn btn-outline-danger btn-sm">Delete</a></li>
    {% empty %}
        <li>No results found.</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}